body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: #f9faf8;
  width: 100%;
  height: 100vh;
}
/* HEADER */
.header-container {
margin: 0 10%;  
}  
header {
  background: #1f2937;
  color: #fff;
  padding-top: 5px;
  height: 100vh;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}
/* NAVIGATION */
.nav-items .nav-link {
  display: flex;
}

.nav-items .nav-link li {
  flex-direction: row;
  margin: 0 20px;
  position: relative;
  left: 55%;
  bottom: 50px;
  list-style: none;
}

li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #e5e7eb;
  margin: 40px;
}
li a:hover {
  font-weight: bold; 
  font-size: 1.2rem; 
}
.header-info {
  max-width: 50%;
  position: relative;
  top: 50px;
}
.header-info h1 {
  font-size: 48px;
  color: #f9faf8;
}

.header-info p {
  font-size: 28px;
}
#button {
  background: #3882f6;
  padding: 10px 30px;
  text-align: center;
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  position: relative;
  top: 20px;
  left: 30%;
}
button:hover {
  border: 3px #f9faf8 solid;
}
.image-holder {
  position: relative;
  left: 55%;
  bottom: 350px;
}

.header-image {
  width: 500px;
  height: 350px;
  border: 1px #fff solid;
  border-radius: 4px;
}
.sec-one {
  margin: 50px 10% 50px 8%;
  background: #f9faf8;
  
}

.sec-one h2 {
  text-align: center;
  font-size: 40px;
  margin: 10px;
  padding: 30px 0;
  font-weight: bold;
}

.sec-one p {
  font-size: 18px;
  color: #1f2937;
  padding-top: 10px;
}

.photos-container {
  display: inline-flex;
  gap: 50px;
  margin: 20px 10%;
  padding: 10px;
}
.photos-container div .image {
  border: 3px #3882f6 solid;
  width: 200px;
  border-radius: 10px;

}
/* QUOTE */
.sec-two {
  background: #e5e7eb;
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  padding: 10px 0;
  margin: 10%;
}
.quote {
  text-align: center;
  max-width: 50%;
  position: relative;
  left: 25%;
}
.author {
  position: relative;
  left: 60%;
}
.sec-three {
  background: #3882f6;
  margin: 20%;
  /*
  position: relative;
  bottom: 350px;
  */
  color: #e5e7eb;
}
.action-call {
  margin: 10%;
  padding: 3px 0;
}
#btn {
  padding: 5px 20px;
  border-radius: 5px;
  background: #3882f6;
  color: #e5e7eb;
  border: 1px #e5e7eb solid;
  position: relative;
  left: 90%;
  bottom: 40px;
}
footer {
  background: #1f2937;
  color: #e5e7eb;
  padding: 5px 0;
  text-align: center;
  font-size: 18px;
}
